// Colors Variables
$primary: #2a9d8f;
$primaryDark: #229897;
$accent: #0096c7;
$white: #ffffff;
$text: #717171;
$textDark: #1B1C1E;
$textDisabled: #A0A2AE;
$success: #06d6a0;
$pending: #FCB322;
$warning: #F7D186;
$danger: #e63946;
$link: #007bff;
$sideBarBackground: #F8FAFC;
$sideBarColor: #7F8B94;
$sideBarHover: #1E282C;
$navBarBackground: #ffffff;
$lightBackground: #ECF0F180;
$lightBackground2: #71717115;
$itemBackground: #F5F6F9;